BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "pushbutton" IO_TYPE=LVCMOS25 ;
LOCATE COMP "pushbutton" SITE "N2" ;
LOCATE COMP "leds[0]" SITE "H11" ;
LOCATE COMP "leds[1]" SITE "J13" ;
LOCATE COMP "leds[2]" SITE "J11" ;
LOCATE COMP "leds[3]" SITE "L12" ;
LOCATE COMP "leds[4]" SITE "K11" ;
LOCATE COMP "leds[5]" SITE "L13" ;
LOCATE COMP "leds[6]" SITE "N15" ;
LOCATE COMP "leds[7]" SITE "P16" ;
